<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网络错误</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">全部相册 <span class="sr-only">(current)</span></a></li>
                    <li><a href="up">上传</a></li>
                    <li><a href="add">添加相册</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <img src="/images/404.jpg" alt="">
    </div>
    <!--运行之后views和public是在一起的-->
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>