<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>跳转页</title>
</head>

<body>
    <h2>
        <%= msg %> 页面正在跳转，请稍等。。。</h2>
    <% if(flag) {%>
    <a id="link" href="http://localhost:3000/<%= flag %>"></a>
    <% }else{%>
    <a id="link" href="http://localhost:3000"></a>
    <%} %>
    <script>
        var link = document.getElementById('link').href;
        setTimeout(function () {
            window.location.href = link;
        }, 500)
    </script>
</body>

</html>